.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.text-center {
  text-align: center !important;
}

.align-self-center {
  align-self: center !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.4375rem 0.875rem;
  margin-left: -1px;
  line-height: 1.5385;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}
.page-link:hover {
  z-index: 2;
  color: #333;
  text-decoration: none;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.page-item.disabled .page-link {
  color: #ccc;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #ddd;
}

.pagination-lg .page-link {
  padding: 0.5625rem 1rem;
  font-size: 0.875rem;
  line-height: 1.4286;
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination-sm .page-link {
  padding: 0.3125rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.6667;
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.pagination-lg .page-link {
  padding: 0.5625rem 1rem;
  font-size: 0.875rem;
  line-height: 1.4286;
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.text-muted {
  color: #999 !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.9375rem;
}

.card-subtitle {
  margin-top: -0.46875rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.9375rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: 0.125rem 0.125rem 0 0;
}
.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.9375rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 0.125rem 0.125rem;
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.9375rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: 0.125rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.card-deck {
  display: flex;
  flex-direction: column;
}
.card-deck .card {
  margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
  .card-deck {
    flex-flow: row wrap;
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
  .card-deck .card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: 1.25rem;
    margin-bottom: 0;
    margin-left: 1.25rem;
  }
}
.card-group {
  display: flex;
  flex-direction: column;
}
.card-group > .card {
  margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
  .card-group {
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-footer, .card-group > .card:not(:last-child) .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-header, .card-group > .card:not(:first-child) .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-footer, .card-group > .card:not(:first-child) .card-img-bottom {
    border-bottom-left-radius: 0;
  }
}
.card-columns .card {
  margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.1875rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.4375rem 0.875rem;
  margin-left: -1px;
  line-height: 1.5385;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}
.page-link:hover {
  z-index: 2;
  color: #333;
  text-decoration: none;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.page-item.disabled .page-link {
  color: #ccc;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #ddd;
}

.pagination-lg .page-link {
  padding: 0.5625rem 1rem;
  font-size: 0.875rem;
  line-height: 1.4286;
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination-sm .page-link {
  padding: 0.3125rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.6667;
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.badge {
  display: inline-block;
  padding: 0.3125rem 0.375rem;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.125rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}
a.badge:focus, a.badge:hover {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.4375rem;
  padding-left: 0.4375rem;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #2196f3;
}

a.badge-primary:focus, a.badge-primary:hover {
  color: #fff;
  text-decoration: none;
}
a.badge-primary:focus:not(.badge-light), a.badge-primary:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.badge-secondary {
  color: #fff;
  background-color: #777;
}

a.badge-secondary:focus, a.badge-secondary:hover {
  color: #fff;
  text-decoration: none;
}
a.badge-secondary:focus:not(.badge-light), a.badge-secondary:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.badge-success {
  color: #fff;
  background-color: #4caf50;
}

a.badge-success:focus, a.badge-success:hover {
  color: #fff;
  text-decoration: none;
}
a.badge-success:focus:not(.badge-light), a.badge-success:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.badge-info {
  color: #fff;
  background-color: #00bcd4;
}

a.badge-info:focus, a.badge-info:hover {
  color: #fff;
  text-decoration: none;
}
a.badge-info:focus:not(.badge-light), a.badge-info:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.badge-warning {
  color: #fff;
  background-color: #ff7043;
}

a.badge-warning:focus, a.badge-warning:hover {
  color: #fff;
  text-decoration: none;
}
a.badge-warning:focus:not(.badge-light), a.badge-warning:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.badge-danger {
  color: #fff;
  background-color: #f44336;
}

a.badge-danger:focus, a.badge-danger:hover {
  color: #fff;
  text-decoration: none;
}
a.badge-danger:focus:not(.badge-light), a.badge-danger:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.badge-light {
  color: #333;
  background-color: #fafafa;
}

a.badge-light:focus, a.badge-light:hover {
  color: #333;
  text-decoration: none;
}
a.badge-light:focus:not(.badge-light), a.badge-light:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}

.badge-dark {
  color: #fff;
  background-color: #324148;
}

a.badge-dark:focus, a.badge-dark:hover {
  color: #fff;
  text-decoration: none;
}
a.badge-dark:focus:not(.badge-light), a.badge-dark:hover:not(.badge-light) {
  box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.075) inset;
}/*# sourceMappingURL=pg.css.map */